@charset "utf-8";

body {
 background-color: #312f2f;
}

h1 {
	font-family: 'Oswald', sans-serif;
	letter-spacing: 3px;
	font-weight: normal;
}

h2 {
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
}

.goals h2 {
	padding: 50px 0 0 0;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: white;
	padding: 0 200px 0 200px;
}

h4 {
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 28px;
}

.goals p {
	padding: 0 200px 0 0;
}

ul {
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 60px 0 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: right;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 40px 10px 30px 10px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}


#outside {
	width: 100%;
	margin:0 auto;
}

#header {
	float: left;
	width: 100%;
	min-height: 88px;
	background-color: #333333;
}

.logo {
	padding: 20px 0 0 60px;
	width: 100px;
}

#header img {
	float: left;
	background-color: #333333;
}

#feature {
	float: left;
	clear: both;
	width: 100%;
	min-height: 700px;
	background-image: url("images/shake.jpg");
	background-repeat: no-repeat;
	background-position: center top;
    background-size: 100% auto;
    text-align: center;
}

#feature h1 {
	color: white;
	margin: 0 10% 0 10%;
	padding: 20% 0 0 0;
}

#feature h2 {
	color: white;
	margin: 0 20% 0 20%;
	padding: 0 0 0 0;
}

.columns {
	background-color: white;
}

.fourth {
	float: left;
	width: 25%;
	min-height: 300px;
	background-color: white;
	text-align: center;
}

.fourth img {
	width: 100px;
	margin: 30px 0 0 0;
}

.half {
	float: left;
	width: 50%;
	min-height: 400px;
	background-color: white;
}

.half img {
	width: 40%;
}

.strategy img {
	float: right;
}

.plan img {
	padding: 60px 0 0 200px;
}

.plan h2 {
	padding: 70px 0 0 0;
}

.plan p {
	padding: 0 100px 0 0;
}

.it_all_starts_with_strategy h2 {
	margin: 0 0 0 50px;
}

.it_all_starts_with_strategy p {
	margin: 0 0 0 0;
}

.it_all_starts_with_strategy img {
	width: 400px;
}

.goals img {
	width: 70%;
	padding: 50px 0 0 50px;
}

.full {
	float: left;
	width: 100%;
	min-height: 300px;
	background-color: white;
}

.create {
	background-image: url("images/create.jpg");
	background-repeat: no-repeat;
	background-position: center center;
    background-size: 100% auto;
    text-align: center;
    min-height: 400px;
}

.create h2 {
	color: white;
	padding: 100px 50px 0 50px;
	text-align: left;
}

.create p {
	color: white;
	text-align: left;
	padding: 0 200px 0 50px;
}

.create img {
	float: left;
	padding: 0 0 0 50px;
}

.testimonial h2, p {
	padding: 0 50px 0 50px;
}

.testimonial p {
	background-image: url("images/quotation_marks.png");
	background-repeat: no-repeat;
	background-position: left top;
    background-size: 50px auto;
    text-align: center;
    padding-left: 0px;
    margin-left: 50px;
}

.testimonial img {
	width: 100px;
	display:block;
    margin:auto;
}

.stairs {
	float: left;
	width: 100%;
	min-height: 600px;
	background-image: url("images/stairs.jpg");
	background-repeat: no-repeat;
	background-position: center center;
    background-size: 100% auto;
    text-align: center;
}

.stairs h2 {
	color: white;
	padding: 250px 0 0 0;
}

.stairs p {
	color: white;
}

#footer {
	float: left;
	width: 100%;
	min-height: 300px;

}


#footer img {
	width: 300px;
	display:block;
    margin:auto;
    padding: 70px 0 0 0;
}

#footer p {
	width: 600px;
	display: block;
	margin: auto;
	text-align: center;
	padding: 30px 0 0 0;
	color: #6e6d6d;
	font-size: 14px;
}






