@charset "utf-8";

body {
 background-color: #312f2f;
}

h1 {
	color: blueviolet;
}

h2 {

}

h3 {
	
}

h4 {

}

h5 {
	
}

ul {
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 40px 10px 30px 10px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}


#outside {
	width: 100%;
	margin:0 auto;
}

#header {
	float: left;
	width: 100%;
	min-height: 88px;
	background-color: #333333;
}

#header img {
	float: left;
	background-color: #333333;
}

#feature {
	float: left;
	clear: both;
	width: 100%;
	min-height: 700px;
	background-image: url("images/shake.jpg");
	background-repeat: no-repeat;
	background-position: center top;
    background-size: 100% auto;
    text-align: center;
}

#feature h1 {
	color: white;
	margin: 0 10% 0 10%;
	padding: 20% 0 0 0;
}

#feature h2 {
	color: white;
	margin: 0 20% 0 20%;
	padding: 0 0 0 0;
}

.columns {
	background-color: white;
}

.fourth {
	float: left;
	width: 25%;
	min-height: 300px;
	background-color: white;
	text-align: center;
}

.fourth img {
	width: 20%;
	margin: 30px 0 0 0;
}

.half {
	float: left;
	width: 50%;
	min-height: 300px;
	background-color: white;
}

.half img {
	width: 40%;
}

.full {
	float: left;
	width: 100%;
	min-height: 300px;
	background-color: white;
}

.create {
	background-image: url("images/create.jpg");
	background-repeat: no-repeat;
	background-position: center top;
    background-size: 100% auto;
    text-align: center;
}

.testimonial {
	background-image: url("images/quotation_marks.png");
	background-repeat: no-repeat;
	background-position: center top;
    background-size: 100% auto;
    text-align: center;
}

.stairs {
	float: left;
	width: 100%;
	min-height: 400px;
	background-image: url("images/stairs.jpg");
	background-repeat: no-repeat;
	background-position: center top;
    background-size: 100% auto;
    text-align: center;
}

#footer {
	float: left;
	width: 100%;
	min-height: 300px;
}









